
/*? sfondo e container */
#app{
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #009688 15%, #DCDBD3 15%);
    padding-top: 20px;
    padding-bottom: 20px;
}

.container{
    height: 100%;
    width: 70%;
    background-color: antiquewhite;
}

/*? generali */
h5{
    display: inline-block;
}

img{
    height: 50px;
    width: auto;
    padding-right: 1px;
    padding-left: 1px;
}

/*? tool bar notifiche e ricerca */
/** tool bar */
.tool-bar{
    height: 70px;
    background-color: lightgray;
}

.tool-bar > div > i{
    display: block;
    padding-right: 5px;
    
}
/** notifiche */
.notification{
    height: 80px;
}
.notification > span.rounded-circle{
    display: flex;
    height: 50px;
    width: 50px;
    padding-right: 1px;
    padding-left: 1px;
    align-items: center;
    justify-content: center;
}
/** ricerca */
.input-group{
    height: 90%;
    width: 95%;
}
.searchChat{
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*? lista contatti */
.contacts-list{
    height: calc(100% - 210px);
    background-color: #009688;
}